<div class="card mb-6">
  <header class="card-header card-header-title has-background-grey-lighter">
    
        <div class="column">
            <p class=" has-text-primary-light"></p>
      <a href="/post/{{id}}"  class="fs-4">{{title}} </a></p>
      </div>

      <div class="column">
      <span class=""> </span>
      </div>
    
  </header>

    <div class="card-content">
        <div class="ms-3">
            {{post_content}}
        </div>
            <div class="mt-2 ms-3">
                <b>{{user.username}}</b> 
                 | {{format_date created_at}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        
    </div>